uvicorn
fastapi
openai
torch
transformers
langchain
langgraph
qdrant-client
PyPDF2
tiktoken
langchain-text-splitters
langchain_community
langchain-huggingface
sentence_transformers
langchain-qdrant
gradio_client
pydantic
accelerate
streamlit
python-docx
python-pptx
