uvicorn
fastapi
openai
torch
transformers
langchain
langgraph
qdrant-client
PyPDF2
tiktoken
langchain-text-splitters
langchain_community
langchain-huggingface
sentence_transformers
langchain-qdrant
gradio_client
pydantic
accelerate
python-docx
python-pptx

boto3==1.34.34
botocore==1.34.34 